<h1>Matches</h1>

<nav class="float-right mt-2">
  <ul class="pagination pagination-sm">
    <li class="page-item">
      <a class="page-link" href="/matches">First</a>
    </li>

    <% for i in 1..10 do %>
      <% if @page.to_i == i%>
      <li class="page-item active">
        <a class="page-link"> <%= i %> </a>
      </li>
      <% else %>
      <li class="page-item">
        <a rel="next" class="page-link" href="/matches?page=<%= i %>" ><%= i %></a>
      </li>
      <% end %>
    <% end %>

    <li class="page-item">
      <a class="page-link" href="/matches?page=10">Last</a>
    </li>
  </ul>
</nav>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Date</th>
      <th>Home Team</th>
      <th>Away Team</th>
      <th>Home Goal</th>
      <th>Away Goal</th>
      <th>Referee</th>
    </tr>
  </thead>

  <%
    temp = 1
    if @page.to_i == 1
      i = 1
    else
      i = (@page.to_i - 1) * 38 + 1
    end
  %>

  <% @matches.each do |match| %>

    <% if temp >= i and temp < (i + 38) %>
      <tr>
        <td><%= match.Date %></td>
        <td><%= match.HomeTeam %></td>
        <td><%= match.AwayTeam %></td>
        <td><%= match.HomeGoal %></td>
        <td><%= match.AwayGoal %></td>
        <td><%= link_to match.referee.RefereeName, referees_show_url(match.referee.refereeid) %></td>
      </tr>
    <% end %>

    <% if temp == (i + 38)
        break
      else
        temp += 1
      end %>
  <% end %>
</table>
