<h1>Search Results</h1>

<p>Your search for "<%= @clubsearch %>" found <%= @count %> matches </p>

<% if @count > 0 %>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Date</th>
      <th>Home Team</th>
      <th>Away Team</th>
      <th>Home Goal</th>
      <th>Away Goal</th>
      <th>Referee</th>
    </tr>
  </thead>

  <% @searchmatches.each do |match| %>
    <tr>
      <td><%= match.match_date_id %></td>
      <td><%= match.HomeTeam %></td>
      <td><%= match.AwayTeam %></td>
      <td><%= match.HomeGoal %></td>
      <td><%= match.AwayGoal %></td>
      <td><%= link_to match.referee.RefereeName, referees_show_url(match.referee.refereeid) %></td>
    </tr>
  <% end %>
<% end %>
</table>
