<h1>MatchDates</h1>

<nav class="float-right mt-2">
  <ul class="pagination pagination-sm">
    <li class="page-item">
      <a class="page-link" href="/matchdates">First</a>
    </li>

    <% for i in 1..9 do %>
      <% if @page.to_i == i%>
      <li class="page-item active">
        <a remote="false" class="page-link"> <%= i %> </a>
      </li>
      <% else %>
      <li class="page-item">
        <a rel="next" class="page-link" href="/matchdates?page=<%= i %>" ><%= i %></a>
      </li>
      <% end %>
    <% end %>

    <li class="page-item">
      <a class="page-link" href="/matchdates?page=9">Last</a>
    </li>
  </ul>
</nav>

<table class="table">
  <thead class="thead-light">
    <th>Date Of Match</th>
    <th>Temperature</th>
    <th></th>
  </thead>

  <%
    temp = 1
    if @page.to_i == 1
      i = 1
    else
      i = (@page.to_i - 1) * 12 + 1
    end
  %>

  <% @matchdates.each do |matchdate| %>
    <% if temp >= i and temp < (i + 12) %>
      <tr>
        <td><%= matchdate.match_date_id %></td>
        <td><%= matchdate.Temperature %></td>
        <td><%= link_to "Show Matches", "/matchdates/#{matchdate.match_date_id}", class: 'btn btn-outline-success' %></td>
      </tr>
    <% end %>

    <% if temp == (i + 12)
        break
      else
        temp += 1
      end %>
  <% end %>
</table>
