<nav class="navbar navbar-expand-xl navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">Premier League 2018 - 2019</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/clubs">Clubs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/matches">Matches</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="/referees">Referees</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/matchdates">Match Dates</a>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0" action="/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
      <input type="text" name="q" id="q" class="form-control mr-sm-2" placeholder="Club Search">
      <select name="category" id="category" class="form-control mr-sm-2"><option value="0">All</option>
        <option value="46">Abstract Strategy</option>
      <input type="submit" name="commit" value="Search" class="btn btn-outline-success my-2 my-sm-0" data-disable-with="Search">
    </form>
  </div>
</nav>

<h1>MatchDates</h1>

<nav class="float-right mt-2">
  <ul class="pagination pagination-sm">
    <li class="page-item">
      <a class="page-link" href="/matchdates">First</a>
    </li>

    <% for i in 1..9 do %>
      <% if @page.to_i == i%>
      <li class="page-item active">
        <a remote="false" class="page-link"> <%= i %> </a>
      </li>
      <% else %>
      <li class="page-item">
        <a rel="next" class="page-link" href="/matchdates?page=<%= i %>" ><%= i %></a>
      </li>
      <% end %>
    <% end %>

    <li class="page-item">
      <a class="page-link" href="/matchdates?page=9">Last</a>
    </li>
  </ul>
</nav>

<table class="table">
  <thead class="thead-light">
    <th>Date Of Match</th>
    <th>Temperature</th>
    <th></th>
  </thead>

  <%
    temp = 1
    if @page.to_i == 1
      i = 1
    else
      i = (@page.to_i - 1) * 12 + 1
    end
  %>

  <% @matchdates.each do |matchdate| %>
    <% if temp >= i and temp < (i + 12) %>
      <tr>
        <td><%= matchdate.Date %></td>
        <td><%= matchdate.Temperature %></td>
      </tr>
    <% end %>

    <% if temp == (i + 12)
        break
      else
        temp += 1
      end %>
  <% end %>
</table>
